#listaMusculos{
  & h2{
    text-align: center;
  }

  & .grupoMuscular{
    display: flex;
    justify-content: space-between;
    border-width: 5px 0 5px 0;
    border-color: var(--teal);
    border-style: solid;
    padding: 10px;
    margin: 0 10px 0 10px;

    & img{
      width: 20%;
    }

    & .datosGrupoMuscular{
      width: 75%;
      background-color: rgb(7, 122, 125, 0.5);
      border-radius: 10px;
      /* box-shadow: 3px 3px 10px var(--negro); */
      padding: 10px;

      & h3{
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        text-decoration: underline;

        & img{
          width: 1.3rem;
          border: 2px solid var(--negro);
          border-radius: 50%;
          margin-left: 10px;
        }
      }

      & table{
        width: 100%;

        & caption{
          font-size: 1.2rem;
          font-weight: bolder;
          margin: 5px;
        }
        
        & thead{
          color: var(--branco);
          background-color: var(--negro);
        }

        & th {
          padding: 5px;
        }

        & td {
          color: var(--branco);
          background-color: var(--gris);
          padding: 5px;
          text-align: center;
        }
      }
    }
  }

  & .grupoMuscular:first-of-type{ /* Quitamos a primeira liña */
    border-width: 0 0 5px 0;
  }

  & .grupoMuscular:last-of-type{ /* Quitamos a última liña */
    border-width: 5px 0 0 0;
  }
}